body{
  background-color: lightgreen;
}
.amcard{
   box-shadow: 2px 16px lightyellow;
   transition: 0.3s;
}
.amcard:hover{
   box-shadow:2px 16px lightcoral; ;
}
.amcontainer {
   padding: 2px 16px;
}
h2{
   height: auto;
   width: 50%;
   align-self: self-start;
}


