    nav ul {
            list-style: none;
            padding: 0;
            margin: 0}

        
        nav li {
            display: inline;
            margin-right: 20px;
        }

        nav a {
            text-decoration: none;
            color: #333;
            
            
        }

        nav a:hover {
            text-decoration: underline;
           
        }
        body{
            background-color: aquamarine;
            border: #333;
        }
        /* Reset default list styles */
        nav ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        /* Style navigation links */
        nav li {
            display: inline;
            margin-right: 20px;
            border: 1px solid #fff0f0; /* Add a border to each navigation link */
            padding: 5px 10px; /* Add some padding to make it look better */
        }

        nav a {
            text-decoration: none;
            color: #00000092;
        }

        nav a:hover {
            text-decoration: underline;
        }

        body {
            background-color: aquamarine;
        }
        nav {
            border-bottom: 1px solid #ffffff;
            padding-bottom: 5px; 
            border-color: rgb(192, 19, 255);
            
        }
 @media screen and (max-width: 900px) 
            {}.container{
                flex-direction: column;}

